* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: radial-gradient(#c6eaed, #41070d);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.ex-1 {
  padding: 50px 0;
}

.wrapper-user {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.users {
  margin-top: 30px;
  margin-right: 15px;
  padding: 30px;
  background-color: #f67e79;
  color: #d83332;
  border-radius: 10px 50px;
  font-size: 1.4em;
  cursor: pointer;
  min-width: 165px;
  box-shadow: inset #d83332 0 0 23px 3px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}

.users:hover {
  background-color: #fde4e2;
  box-shadow: inset #f67e79 0 0 23px 3px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}

.user-event {
  background-color: #fde4e2;
  box-shadow: inset #f67e79 0 0 23px 3px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}
.wrapper {
  margin-bottom: 15px;
}
#wrapper-tabs {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}
#wrapper-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#tabs_todo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}
#tabs_posts {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}
#tabs_albums {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
}
.tabs {
  padding: 30px;
  background-color: #f67e79;
  color: #d83332;
  border-radius: 50px 50px 0 0;
  font-size: 1.4em;
  cursor: pointer;
  box-shadow: inset #d83332 0 6px 26px 3px,
    rgba(0, 0, 0, 0.8) 0 3px 8px -3px inset;
}

.tabs:hover {
  transform: scaleY(1.2);
  transform-origin: bottom;
}

.tabs-event {
  background-color: #fde4e2;
  box-shadow: inset rgb(216, 51, 50, 0.5) 0 26px 26px 3px,
    inset rgb(253, 228, 226, 1) 0 -8px 0 8px;
  border-radius: 10px 50px 0 0;
}

.content {
  grid-column-start: span 4;
  color: #d83332;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #fde4e2;
  border-radius: 0 0 50px 50px;
  padding: 50px;
  box-shadow: inset rgb(216, 51, 50, 0.5) 0 -26px 26px 3px,
    inset rgb(253, 228, 226, 1) 0 8px 0 8px;
}

.addres {
  list-style: none;
}

ul {
  list-style: none;
}

#albums span {
  border-radius: 4px;
  cursor: pointer;
  padding: 3px 5px;
}

#albums span:hover {
  background-color: #f67e79;
}

.block {
  position: absolute;
  top: 0;
  padding: 100px 100px 0 100px;
  width: 100%;
  min-height: 100vh;
  background-color: #00000081;
}

.wrapper-photo {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-photo div {
  margin-right: 3px;
}

#off {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 32px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(#c6eaed, #41070d);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d83332;
}

#off:hover {
  background: radial-gradient(#41070d, #c6eaed);
}

.comments {
  position: absolute;
  font-size: 14px;
  border: 1px solid #ca8a8b;
  background-color: #cab2af;
  z-index: 100;
  padding: 10px;
}

.comments p {
  margin: 0;
}

.hidden {
  display: none;
}
.is_done {
  text-decoration: line-through;
  opacity: 0.8;
}

@media (max-width: 768px) {
  #wrapper-tabs {
    display: block;
  }
  #tabs_todo,
  #tabs_posts {
    border-radius: 0;
  }
  .tabs_albums {
    border-radius: 0 0 50px 50px;
  }
  /* .tabs-event {
    background-color: #fde4e2;
    box-shadow: inset rgb(216, 51, 50, 0.5) 0 26px 26px 3px,
      inset rgb(253, 228, 226, 1) 0 -8px 0 8px;
    border-radius: 10px 50px 0 0;
  } */
  .tabs-event.tabs_albums {
    background-color: #fde4e2;
    box-shadow: inset rgb(216, 51, 50, 0.5) 0 26px 26px 3px,
      inset rgb(253, 228, 226, 1) 0 -8px 0 8px;
    border-radius: 0;
  }
  #info,
  #todo,
  #posts {
    border-radius: 0;
  }
  .tabs:hover {
    transform: scaleY(1);
  }
  .block {
    padding: 150px 10px 0 10px;
  }
}
